.icons-container{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    opacity: .7;
    display: flex;
    padding: 10px;
    transition: all .1s ease;
}
.icons-container:hover{
    background-color: rgb(100, 99, 99);
}