.icons-container{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    opacity: .7;
    display: flex;
    padding: 10px;
    transition: all .1s ease;
}
.icons-container:hover{
    background-color: rgb(100, 99, 99);
}

.btn{
    padding: 5px 15px ;
    margin-left: 2rem;
    background-color: rgb(30, 29, 29);
    color: rgb(208, 207, 207);
    font-size: medium;
    border-radius: 5px;
    transition: all .1s ease;

    &:hover{
        background-color: rgb(46, 45, 45);
    }
}